# Google Cloud
GOOGLE_CLOUD_PROJECT=
GOOGLE_APPLICATION_CREDENTIALS=./google-credentials.json

# SmartBot Pro
SMARTBOT_ACCESS_TOKEN=

# Telegram channel
SMARTBOT_TG_CHANNEL_ID=
SMARTBOT_TG_BLOCK_SUCCESS=
SMARTBOT_TG_BLOCK_ERROR=

# VK channel (optional)
SMARTBOT_VK_CHANNEL_ID=
SMARTBOT_VK_BLOCK_SUCCESS=
SMARTBOT_VK_BLOCK_ERROR=

# Server
SERVER_URL=https://your-domain.com

# Admin
ADMIN_PASSWORD=
ADMIN_BOT_TOKEN=
ADMIN_CHAT_ID=
